/**
 * Custom button
 * @link  http://codepen.io/albhilazo/pen/Jhrvf
 */
button.btn-ah,
   div.btn-ah,
     a.btn-ah,
      .btn-ah {
        background-color: #0693be;
        color: #fff;

        border: 0px none;
        -webkit-border-radius: 3px;
           -moz-border-radius: 3px;
            -ms-border-radius: 3px;
             -o-border-radius: 3px;
                border-radius: 3px;
        
        -webkit-box-shadow: 0px 3px 1px 0px #276873;
           -moz-box-shadow: 0px 3px 1px 0px #276873;
            -ms-box-shadow: 0px 3px 1px 0px #276873;
             -o-box-shadow: 0px 3px 1px 0px #276873;
                box-shadow: 0px 3px 1px 0px #276873;

        display: inline-block;
        height: auto;
        line-height: 20px;
        padding: 4px 12px;
        margin-bottom: 3px;
        cursor: pointer;

        font-family: Verdana, Tahoma, sans-serif;
        font-size: 13px;
        font-weight: normal;
        text-decoration: none;
        text-shadow: 0px 1px 0px #3d768a;
        }

button.btn-ah:enabled:hover,
   div.btn-ah:enabled:hover,
     a.btn-ah:enabled:hover,
      .btn-ah:enabled:hover {
        background-color: #339dbd;
        }

button.btn-ah:enabled:active,
   div.btn-ah:enabled:active,
     a.btn-ah:enabled:active,
      .btn-ah:enabled:active {
        position: relative;
        top: 3px;
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
            -ms-box-shadow: none;
             -o-box-shadow: none;
                box-shadow: none;
        }

button.btn-ah:disabled,
   div.btn-ah:disabled,
     a.btn-ah:disabled,
      .btn-ah:disabled {
        cursor: not-allowed;
        opacity: 0.65;
        }


.btn-min { line-height: normal !important; }
