/* Block styles */
.shadow {
    box-shadow: rgba(0,0,0, 0.2) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.2) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.2) 0px 0px 8px;
    }


/* Aligning */
.center-block {
    margin-left: auto;
    margin-right: auto;
    float: none;
    }

.align-bottom {
    display: table-cell;
    vertical-align: bottom;
    float: none;
    }


/* Fill up the remaining width */
#div1 { width: 100px; float: left; }
#div2 { margin-left: 100px; margin-right: 100px; }
#div3 { width: 100px; float: right; }