/**
 * Custom link
 * @link  http://codepen.io/albhilazo/pen/Jhrvf
 */
a.link-ah,
 .link-ah {
    background-color: #0693be;
    color: #fff;

    border: 0px none;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;

    display: inline-block;
    height: auto;
    line-height: normal !important;
    padding: 4px 12px;
    margin-bottom: 3px;
    cursor: pointer;

    font-family: Verdana, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: normal;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;

    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    }

a.link-ah:hover,
 .link-ah:hover { background-color: #339dbd; }
