/* Text styles */
.black-text  { color: #333;}
.grey-text   { color: #575757; }
.center-text { text-align: center !important; }
.hide-text   { font-size: 0; }
.no-height   { line-height: 0 !important; }
.uppercase   { text-transform: uppercase; }


/* Break and wrap long words */
.wrap-text {
    white-space: normal !important;
    word-wrap:   break-word;
    }


/* Disable text select/highlight */
.no-select {
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    }




/* Heading text styles **************************************************************** */

/**
 * Inset text (Webkit only, with fallback)
 * @link    http://codepen.io/albhilazo/pen/LhqDF
 *
 * Source: {@link http://nimbupani.com/using-background-clip-for-text-with-css-fallback.html}
 */
.inset-text {
    font: 30px/150% Verdana, Tahoma, sans-serif;
    font-weight: bold;
    color: #2f96b4;
    background: -webkit-linear-gradient(transparent,transparent), #2f96b4;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
    }
